/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  font-family: var(--main-font);
  background-image: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--accent-font);
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
  margin-block-end: 100px;
  margin-inline: auto;
  max-inline-size: 700px;
  background-color: var(--background-color);
}

.header__title {
  font-family: var(--accent-font);
}

.header__text {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
}

.theme-menu {
  padding-block: 25px;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 19px;
  gap: 11px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  width: 100%;
  inset-inline-start: 0;
  inset-block-end: -2px;
  border-bottom: solid 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: pointer infinite 0.5s ease-in-out alternate;
  inset-inline-start: -14px;
}

.theme-menu__button:focus {
  opacity: 0.6;
  outline: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

/* CARDS */

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  margin-inline: auto;
  margin-block-end: 48px;
  max-inline-size: 700px;
}

.card:last-of-type {
  margin-block-end: 46px;
}

.card__title {
  padding: 5px 24px 3px 10px;
  font-variation-settings: "wght" var(--accent-font-weight, 700);
  font-family: var(--main-font);
  font-size: 18px;
}

.card__image-block {
  position: relative;
}

.image-link {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  top: 28px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--color-image-link)) {
  .image-link {
    -webkit-text-stroke: 1px var(--color-image-link);
    text-shadow: none;
  }
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.filter-grayscale {
  filter: grayscale(555%);
}

.filter-saturate {
  filter: saturate(555%);
}

.filter-multiple {
  filter: contrast(70%) hue-rotate(126deg) saturate(170%);
}

.filter-invert {
  filter: invert(85%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-blur {
  filter: blur(5px);
}

.multiple-filter {
  filter: hue-rotate(180deg) contrast(90%) sepia(75%);
}

.card__text__block {
  padding-block-start: 22px;
  padding-inline: 25px;
}

.card__text {
  font-size: 18px;
  line-height: 21px;
}

.card p {
  margin-block-end: 25px;
}

.card p:last-child {
  margin-block-end: 0;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  min-block-size: 38px;
  align-items: center;
  gap: 6px;
  padding-inline-end: 25px;
  padding-block-end: 22px;
  padding-block-start: 25px;
}

.card__icon-button {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: border 0.3s ease;
  height: 100%;
  align-items: center;
  padding: 5px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  font-style: normal;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.card__like-button {
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 12px 0;
  min-inline-size: 130px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.card__button-accent {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  position: relative;
  transition: box-shadow 0.3s;
}

.card__button-accent::before {
  content: "";
  position: absolute;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  inset-inline-start: 0;
  inset-block-end: 0;
  transform: scaleX(0);
  transform-origin: 0;
}

.card__button-accent:focus {
  outline: none;
}

.card__button-accent:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__button-accent:hover::before {
  transform: scaleX(1);
  cursor: pointer;
}

.sparks {
  opacity: 0;
}

.button__save {
  display: flex;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  background: var(--background-color);
  gap: 10px;
  padding: 15px 20px;
  margin-inline: auto;
  margin-block-end: 105px;
  border: 2px solid var(--accent-color);
}

.modal {
  border: 2px solid var(--accent-color);
  background: var(--background-color);
  color: var(--accent-color);
  font-family: var(--accent-font);
  line-height: 1.5;
  padding: 25px 30px;
  text-transform: uppercase;
  max-inline-size: 355px;
}

.modal__button {
  inline-size: 100%;
  background: transparent;
  padding-block: 12px;
  cursor: pointer;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  background-color: var(--background-color);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background-color: #000;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__content p {
  font-size: 14px;
  font-family: var(--accent-font);
  line-height: 21px;
  text-transform: uppercase;
}

.modal__button .button__text {
  text-transform: uppercase;
}

.button__icon {
  block-size: 22px;
  inline-size: 22px;
  color: var(--button-color);
  mix-blend-mode: difference;
}

@media (width <=375px) {
  .modal {
    padding: 28px 34px 28px 40px;
    max-inline-size: 341px;
  }

  .button__save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }

  .image-link {
    right: 11px;
  }
}
